<div class="container">
  <h1>Add a new dose</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
<%= f.input :description, class: 'form-control' %>
<%= f.submit class: 'btn btn-outline-dark' %> <% end %>
</div>
